name: OWASP ZAP DAST Scan

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]      

jobs:
  zap_scan:
    runs-on: ubuntu-latest

    steps:
      - name: ZAP Full Scan
        uses: zaproxy/action-full-scan@v0.13.0
        with:
          target: "https://weiitt.github.io/livro-de-receitas-xops/"
          allow_issue_writing: false
          cmd_options: ""
